# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.db
*.sqlite3

# Node
node_modules/
.next/
out/
.env.local
.env.production

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
